.black-nav{
  display: flex;
  background-color: #384572;
  width: 100%;
  color: #fff;
  padding-left: 20px;
}
div{
  box-sizing: border-box;
}
.list{
  padding-left: 20px;
  text-align: left;
  border-bottom: 2px solid #333;
}
.modal{
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
